{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="alert alert-dark col-md-12 text-center">
            <h1>
                <i class="fas fa-store"></i>
                {{ nombreProduit }} {{ 'productsText' | trans }}
            </h1>
        </div>
    </div>

    <div class="">
        <div class="row">
            {% for produit in produits %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset(produit.visuel) }}" style="width: 8rem;" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{produit.libelle}}</h5>
                            <p class="card-text">{{produit.texte}}</p>
                            <b>{{produit.prix}} €</b>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('ajout_panier',{ produitId: produit.id }) }}" class="btn btn-primary">{{ 'addCart' | trans }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
